body{
  font-family: arial, sans-serif;
}

ul{
  list-style-type: none;
  display: block;
}

#navbar{
  top: 0;
  margin: 30px;
  padding: 0;
  float: right;
}

li{
  display: inline-block;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#navbar li{
  margin: auto 6px auto 6px;
  float: left;
  font-size: 12px;
}

#navbar li img{
    width: 40;
    height: auto;
}

#footer{
  position: absolute;
  bottom: 0;
  height: 35px;
  width: 100%;
  background-color: #f2f2f2;
  border-top: 1px solid #dcdcdc;
  border-bottom: 0px;
}

#footer li{
  height: 10px;
  margin: auto 6px;
  font-size: 12px;
}

.left-footer{
  float: left;
}

.right-footer{
  float: right;
}

#center{
  position: relative;
  top: 180px;
  width: 600px;
  margin: auto;
  display: block;
}

img{
  position: relative;
  width: 272px; 
  margin: auto;
  display: block;
}

#searchbar{
  display: block;
  margin: 15px auto 15px auto;
  border: 1px solid #dcdcdc;
  width: 450px;
  height: 36px;
}

#button-wrapper{
  position: relative;
  width: 300px;
  margin: auto;
  display: block;
}

.button{
  -moz-appearance: none;
  display: inline-block;
  height: 36px;
  width: 140px;
  margin: auto;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: center;
  color: #757575;
}